@model prototipo2.Models.Empleado

@{
    ViewData["Title"] = "Agregar empleado";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container mt-5 col-md-8">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Registrar Empleado</h4>
        </div>
        <div class="card-body">
            <form asp-action="CrearEmpleado" asp-controller="Empleado" method="post">

                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="Nombre" class="form-label">Nombre</label>
                        <input asp-for="Nombre" class="form-control" placeholder="Nombre" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Apellido" class="form-label">Apellido</label>
                        <input asp-for="Apellido" class="form-control" placeholder="Apellido" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Cedula" class="form-label">Cédula</label>
                    <input asp-for="Cedula" class="form-control" placeholder="123456789" />
                    <span asp-validation-for="Cedula" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Correo" class="form-label">Correo</label>
                    <input asp-for="Correo" type="email" class="form-control" placeholder="correo@ejemplo.com" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Telefono" class="form-label">Teléfono</label>
                    <input asp-for="Telefono" class="form-control" placeholder="8888-8888" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Contrasena" class="form-label">Contraseña</label>
                    <input asp-for="Contrasena" type="password" class="form-control" placeholder="Contraseña" />
                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                </div>

               

                <div class="d-grid">
                    <button type="submit" class="btn btn-success">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
